* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

h1, h2 {
	text-align: center;
}

form {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

form label {
	display: block;
	margin-top: 10px;
	font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form select,
form button {
	display: block;
	margin-top: 5px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5
}

form input[type="radio"] {
display: inline;
margin-top: 5px;
margin-right: 5px;
}

form button {
background-color: #4CAF50;
color: #fff;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}

form button:not(:last-child) {
margin-right: 10px;
}

ul {
max-width: 600px;
margin: 0 auto;
padding: 0;
}

ul li {
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin-top: 5px;
}

ul li span {
font-weight: bold;
}

.error {
color: red;
font-weight: bold;
}